Django~=5.1.4
automium_web~=0.1.1
pip~=24.2
attrs~=24.2.0
Pillow~=10.0.1
Jinja2~=3.1.5
asgiref~=3.8.1
sqlparse~=0.5.3
mysqlclient~=2.2.4
colorama~=0.4.6
numpy~=2.1.2
requests~=2.32.3
typing_extensions~=4.12.2